:root > * {
    color: black;
    --md-text-font: Arial, Helvetica, sans-serif;
}

[data-md-color-scheme="default"] {
    --md-primary-fg-color:        #ff0000;
    --md-typeset-a-color: #1c00b8;
    color: black;
    --md-default-bg-color: white;
    --md-accent-fg-color: #d15dff;
}

[data-md-color-scheme="slate"] {
    --md-primary-fg-color: #1c00b8;
    --md-primary-bg-color: black;
    --md-typeset-a-color: rgb(255, 0, 0);
    color:white;
    --md-default-bg-color: #252525;
    --md-accent-fg-color: #00aeff;
    --md-typeset-table-color: #060202;
}

  